/* .countdown-container,
.container,
.card,
.card-header,
.quiz-answer,
.quiz-answers {
    border: 1px solid red;
} */

:root {
    --dark-blue: rgb(65, 79, 129); 
    --light-blue: rgb(143, 166, 239);
    --dark-red: rgb(183, 15, 0);
    --transparent-red: rgba(183, 15, 0, 0.6);
    --dark-text: rgb(24, 38, 48);
    --light-orange-gray: rgb(252, 250, 247);
    --correct-green: rgb(79, 193, 75);
    --light-text: #fefefe;
}

body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    background: var(--body-background);
}

.hide {
    display: none;
}

.show {
    display: block;
}

.countdown-container,
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown-container {
    margin: 1rem 0;
}

#countdown {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 0.4rem 0.8rem;
    background-color: var(--transparent-red);
    color: var(--light-text);
    border-radius: 8px;
}

.container {
    /* TODO: revisit */
    padding-top: 2rem;
}

.card {
    /* max-width: 60rem; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.start {
    display: flex;
    justify-content: center;
}

.start-quiz {
    background-color: var(--dark-red);
    color: var(--light-text);
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0.4rem;
    border: 1px solid transparent;
    border-radius: 6px;
}

.start-quiz:hover {
    background-color: var(--transparent-red);
    border: 2px dotted var(--light-text);
}

.quiz-description {
    text-align: center;
    padding: 1rem 2rem;
    line-height: 1.6;
    font-weight: 600;
    color: var(--dark-text);
}

.card[data-quiz-id] {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 300ms;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.card-header {
    width: 100%;
    padding: 1rem 1.8rem;
    background-color: var(--dark-blue);
    color: var(--light-text);
    border-radius: 4px 4px 0 0;
}

.card-body {
    /* padding-top: 1rem; */
}

.quiz-question {
    font-size: 1.6rem;
}

.quiz-question-text {
    font-size: 1.2rem;
    font-weight: bold;
}

.quiz-answers {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    flex-direction: column;
    list-style-type: upper-alpha;
}

.quiz-answer {
    list-style-position: inside;
    width: 100%;
    padding: 0.9rem;
    margin-top: 0.4rem;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #a9a9a9;
    border-radius: 2px;
}

.quiz-answer:hover {
    border: 3px solid var(--light-blue);
}

/* styles for larger screens */
@media screen and (min-width: 768px) {

    .container {
        /* expand .container vertically on larger screens */
        min-height: 70vh;
    }

    .card {
        min-width: 50rem;
        max-width: 50rem;
    }
}