.countdown-container,
.container,
.card,
.quiz-answer,
.quiz-answers {
    border: 1px solid red;
}

body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

.countdown-container,
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown-container {
    margin: 1rem 0;
}

#countdown {
    font-size: 2.5rem;
    font-weight: bold;
}

.container {
    /* TODO: revisit */
    padding-top: 2rem;
}

.card {
    max-width: 60rem;
    padding: 2rem;
}

.quiz-question {
    font-size: 1.6rem;
}
.quiz-answers {
    padding-left: 0;
}
.quiz-answer {
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

/* styles for larger screens */
@media screen and (min-width: 768px) {

    .container {
        /* expand .container vertically on larger screens */
        min-height: 70vh;
    }

    .card {
        min-height: 24rem;
    }
}